<p>pokemon works!</p>

<!-- <button (click)="getPokemon()">
  click me
</button> -->

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemon">
        <td>{{ pokemon.name }}</td>
        <td (click)="setActive(pokemon.url)">{{ pokemon.url }}</td>
      </tr>
      <!-- <tr *ngFor="let active of activePokemon">
        <td>
          {{ active.data.name }}
        </td>
      </tr> -->
    </tbody>
  </table>
  <div *ngIf="activePokemon " class="active">
    <h3>Active Pokemon: </h3>
    <img [src]="activePokemon.sprites.other['official-artwork'].front_default" alt="" height="100" width="100">
    <p> Name: {{ activePokemon.name }} </p>
    <p> ID: {{ activePokemon.id }} </p>
    <p> Weight: {{ activePokemon.weight }} </p>
  </div>
</div>

<!-- <div *ngFor="let pokemon of pokemon | async">
  <h1> {{ pokemon | json }}</h1>
</div> -->



